
<mat-toolbar color="primary">
  <mat-toolbar-row>
    
    <span>Daniel Corner</span>
    <span class="menu-spacer"></span>
    
    <!-- menu tabs -->
      <mat-tab-group [color]="'accent'" [backgroundColor]="'primary'" class="menu-tabs hide-on-small-only">
        <mat-tab label="Profile"></mat-tab>
        <mat-tab label="Projects" routerLink="/projects"></mat-tab>
      </mat-tab-group>
    
    <!-- menu button -->
    <mat-icon class="hide-on-med-and-up menu-icon" [matMenuTriggerFor]="menu">menu</mat-icon>
      <!-- menu -->
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/profile">
          <span class="tab-text">Profile</span>
          <!-- <i class="material-icons menu-item-icon">person</i> -->
        </button>
        <button mat-menu-item routerLink="/projects" [matMenuTriggerFor]="projects">
          <span class="tab-text">Projects</span>
          <!-- <i class="material-icons menu-item-icon">work</i> -->
        </button>
        </mat-menu>
        <!-- projects submenu -->
        
        <mat-menu #projects="matMenu">
          <button mat-menu-item routerLink="/projects/1">Pave (D3.js)</button>
          <button mat-menu-item routerLink="/projects/2">a-h-l.net</button>
          <button mat-menu-item routerLink="/projects/3">Pave (Tableau)</button>
        </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
